<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="/assets/javascript/script.js"></script>
    <link rel="stylesheet" href="/assets/css/burger_styles.css" type="text/css" />
    <title>Burger</title>
</head>

<body>

    {{{body}}}



</body>

<link rel="stylesheet" href="/assets/css/burger_styles.css" type="text/css" />


</html>