<h1>Burger Station</h1>

<h2>Burgers Ordered</h2>

<ul>
    {{>burgerDevored burgers}}
</ul>

<h2>Burger Devored</h2>
<ul>
    {{>burgerDevored burgers}}


</ul>


<h2>Add a Burger</h2>

<form class="form-create" method="POST" action="/api/burgers">

    <div class="form-group">
        <label for="burger">What burger do you want to order</label>
        <input type="text" id="burgerT" name="burger" value="">


    </div>

    <button type="submit" id="submit">Place
        Order</button>




</form>